OPENROUTER_API_KEY=your_openrouter_api_key
NEXT_PUBLIC_OPENROUTER_CHAT_MODELS=your_chat_models_separated_by_comma
OPENROUTER_IMAGE_PROMPT_MODEL=your_image_prompt_model
OPENROUTER_IMAGE_RENDER_MODEL=your_image_render_model